{% extends 'base.html' %}
{% load apptags %}
{% block title %}Error - 403{% endblock %}
{% block header-title %}Access Denied{% endblock %}

{% block sidebar %}
A strange game. The only winning move is not to play.<br>How about a nice game of chess?
<hr>
Useful Links:
<ul style="font-size: 80%">
    <li><a href="https://plus.google.com/u/0/communities/110900271747903241248">SEQ Enlightened</a></li>
    <li><a href="https://plus.google.com/u/0/communities/107241873174716431731">Enlightened Brisbane</a></li>
    <li><a href="https://plus.google.com/u/0/communities/106730690127444415169">SEQLD-EN-L6+</a></li>
</ul>
{% endblock %}

{% block content %}

<p>Your access level is insufficient to access this area.</p>

{% if not username %}
<p>You have not identified yourself, Agent. Please log in so that Quartermaster may verify your access level.</p>
{% endif %}

{% endblock %}
