{% extends 'base.html' %}
{% load apptags %}
{% block title %}Error - 500{% endblock %}
{% block header-title %}Internal Error{% endblock %}

{% block sidebar %}
A strange game. The only winning move is not to play.<br>How about a nice game of chess?
<hr>
Useful Links:
<ul style="font-size: 80%">
    <li><a href="https://plus.google.com/u/0/communities/110900271747903241248">SEQ Enlightened</a></li>
    <li><a href="https://plus.google.com/u/0/communities/107241873174716431731">Enlightened Brisbane</a></li>
    <li><a href="https://plus.google.com/u/0/communities/106730690127444415169">SEQLD-EN-L6+</a></li>
</ul>
{% endblock %}

{% block content %}

<p>An error has occured in Quartermaster's code. Please let the Webmaster know the address of this page and what you were doing when the error occurred.</p>

{% endblock %}
