<!DOCTYPE html> <!-- this is HTML5 -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Quartermaster - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">
        {% block css %}
        {% endblock %}

        {% block preload_js %}
        {% endblock %}
        <script src="/static/audio.js" type="text/javascript" language="JavaScript"></script>

        {% block extra-head %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <img id="logo" src="/static/logo.png" width="96" height="96" alt="logo">
                <div id="hinfo">
                    {% if username %}Welcome, Agent {{ username }}{% else %}Not logged in{% endif %}
                </div>
                <h1>{% block header-title %}{% endblock %}</h1>
            </div>
            <div id="navbar">
                    {% if username %}
                    <a href="/"><div class="navlink" onmousedown="clicksound.playclip()">Overview</div></a>
                    <a href="/agents"><div class="navlink" onmousedown="clicksound.playclip()">Agent List</div></a>
                    <a href="/stats"><div class="navlink" onmousedown="clicksound.playclip()">Statistics</div></a>
                    <a href="/update"><div class="navlink" onmousedown="clicksound.playclip()">Update</div></a>
                    <a href="/profile"><div class="navlink" onmousedown="clicksound.playclip()">Profile</div></a>
                    <a href="{{ local_logout_url }}"><div class="navlink" onmousedown="clicksound.playclip()">Log Out</div></a>
                    {% else %}
                    <a href="{{ login_url }}"><div class="navlink" onmousedown="clicksound.playclip()">Log In</div></a>
                    {% endif %}
            </div>
            <div id="sidebar">
                {% block searchbar %}
                {% if username %}
                <form id="searchform" method="GET" action="files">
                    <input type="text" class="fade" name="searchterm" id="searchbox" value="View Agent Profile"
                    onfocus="if(this.value==this.defaultValue){this.value='';this.className=''};"
                    onblur="if(this.value==''){this.value=this.defaultValue;this.className='fade'}"
                    title="To view the profile of a specific agent, enter their username."> 
                    {#<input type="submit" name="submit" value="Go" id="submit">#}
                    <input type="hidden" name="searchby" value="default">
                </form>
                <hr>
                {% endif %}
                {% endblock %}
                {% block sidebar %}{% endblock %}
            </div>
            <div id="content">
                {% block content-header %}
                {% if error %}<div class="error"><h3>Oops! We seem to have encountered an error!</h3><p>{{ error }}</p></div>{% endif %}
                {% if info %}<div class="info">{{ info }}</div>{% endif %}
                {% if messages %}
                {% for message in messages %}
                <div class="info">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endblock %}

                {% block content %}{% endblock %}

            </div> <!-- /content -->
            <div class="zero">&nbsp;<!-- this div required for positioning --></div>

            <div id="footer"><a href="/about">About</a> - <a href="mailto:terrorbite@lethargiclion.net">Contact Webmaster</a> - <a href="/admin">Admin</a><br>Copyright &copy; 2013 TerrorBite Industries.</div>

        </div>
        {% block js %}
        {% endblock %}
    </body>
</html>
